<ion-view>
  <ion-content class="categories" scroll="false">

    <div class="header">
      <h1>
        <span >か</span>
        <span class="hatch-pink">て</span>
        <span >ご</span>
        <span >り</span>
        <span >ー</span>
        <span >。</span>
      </h1>
    </div>

    <div class="category-table">
      
      <!-- first row -->
      <div class="row">
        <div class="col">
          <img class="category-icon" src="./img/EAT.png">
          <p>EAT</p>
        </div>
        <div class="col">
          <img class="category-icon" src="./img/GO.png">
          <p>GO</p>
        </div>
        <div class="col">
          <img class="category-icon" src="./img/COOK.png">
          <p>COOK</p>
        </div>
      </div>

      <!-- second row -->
      <div class="row">
        <div class="col">
          <img class="category-icon" src="./img/BUY.png">
          <p>BUY</p>
        </div>
        <div class="col">
          <img class="category-icon" src="./img/NEWS.png">
          <p>NEWS</p>
        </div>
        <div class="col">
          <img class="category-icon" src="./img/MEMO.png">
          <p>MEMO</p>
        </div>
      </div>

      <!-- third row -->
      <div class="row">
        <div class="col">
          <img class="category-icon" src="./img/MEET.png">
          <p>MEET</p>
        </div>
        <div class="col">
          <img class="category-icon" src="./img/STUDY.png">
          <p>STUDY</p>
        </div>
        <div class="col">
        </div>
      </div>

    </div>
  </ion-content>

</ion-view>