/* Empty. Add your own CSS if you like */
body{
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif", "ＭＳ Ｐゴシック";
}

/*.title{
  font-family: 'Alegreya Sans SC', sans-serif !important;
}
*/
.group-icon{
  max-height: 40px;
  max-width: 40px;
}

.hatch-pink{
  color: #fcb9cf;
}

.hatch-salmon{
  background-color: #ffdde1 !important;
}

/*categories view*/
.categories{
  text-align: center;
}

.categories .header{
  margin: 20px;
}

.categories .header h1{
  color: #fff;
  width: 60%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #ffdde1;
}


.category-table .col{
  width: 30%;
  text-align: center;
  padding: 10px;
  position: relative;
}

.category-table .col p{
  font-weight: bold;
  color: #fcb9cf; /*pink*/
  margin-bottom: 0;
}

.category-table .col p.category-jp{
  font-size: 70%;
  line-height: 100%;
  color: #9b9899; /*light-gray*/
}